html {
  scroll-behavior: smooth; }

body {
  background-color: #191919; }
  body .content_menu .btn-floating {
    background-color: #f46c0b;
    border-radius: 32px;
    padding: 16px 19px;
    z-index: 2;
    position: fixed;
    top: 88%;
    color: #000;
    right: 14px;
    text-decoration: none;
    opacity: 0.5; }
    body .content_menu .btn-floating i {
      font-size: 23px;
      text-align: center;
      position: relative;
      top: 2px;
      color: #fff; }
  body .content_menu .menu_bar {
    text-align: center; }
    body .content_menu .menu_bar .text_list {
      display: grid !important;
      margin-top: 20px; }
      body .content_menu .menu_bar .text_list i {
        color: #a395af; }
      body .content_menu .menu_bar .text_list a {
        color: #ffffff;
        line-height: 35px;
        text-decoration: none;
        font-size: 15px;
        font-weight: 200; }
    body .content_menu .menu_bar .bg-full-dark {
      background-color: #131212; }
  body .content_menu .navbar {
    z-index: 1;
    position: absolute; }
  body .content_menu .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.616); }
  body .content_menu .content_list {
    padding: 15px; }
    body .content_menu .content_list hr {
      margin: 1rem 0;
      color: inherit;
      background-color: #49474d;
      opacity: 10;
      margin-top: 30px; }
    body .content_menu .content_list .rounded {
      border-radius: 0.7rem !important;
      height: 150px; }
    body .content_menu .content_list .list-group-item {
      position: relative;
      display: block;
      padding: .9rem 0.4rem;
      color: #ffffff;
      text-decoration: none;
      background-color: #1a1a1a;
      font-weight: 200;
      border: 0px solid rgba(0, 0, 0, 0.125); }
      body .content_menu .content_list .list-group-item .badge {
        display: inline-block;
        padding: 1.5rem 1rem;
        font-size: .99em;
        font-weight: 700;
        line-height: 1;
        color: #F4BE09;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem; }
      body .content_menu .content_list .list-group-item .title_list {
        display: flex;
        align-items: center; }
        body .content_menu .content_list .list-group-item .title_list .content_icon {
          text-align: center;
          padding: 13px 19px;
          border-radius: 30px;
          margin-right: 12px;
          background-color: #080808; }
          body .content_menu .content_list .list-group-item .title_list .content_icon i {
            color: #a395af; }
        body .content_menu .content_list .list-group-item .title_list b {
          font-size: 13px;
          position: relative;
          bottom: 4px; }
    body .content_menu .content_list .card_title::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, #000000, #6d2a06);
      border-radius: 3px !important;
      opacity: .8; }
    body .content_menu .content_list .card_title {
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: center; }
      body .content_menu .content_list .card_title h5 {
        z-index: 1;
        font-size: 21px;
        font-weight: 700; }
      body .content_menu .content_list .card_title img {
        height: 99%; }
  body .content_menu .banner_menu::after {
    content: "";
    position: absolute;
    border-radius: 0px 0px 70px 70px;
    height: 820px !important;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #000000, #4c2109);
    opacity: .7; }
  body .content_menu .banner_menu {
    background-image: url("../img/2restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 820px;
    color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px; }
    body .content_menu .banner_menu #logo {
      width: 256px; }
    body .content_menu .banner_menu #content_text {
      display: grid;
      position: relative;
      top: 40px; }
      body .content_menu .banner_menu #content_text i {
        font-size: 46px;
        position: relative; }
      body .content_menu .banner_menu #content_text .icon-down {
        bottom: 24px; }
      body .content_menu .banner_menu #content_text .icon-up {
        opacity: 0.4; }
      body .content_menu .banner_menu #content_text .badge {
        display: inline-block;
        padding: .35em .90em;
        font-size: .66em;
        font-weight: 300;
        line-height: 1;
        background-color: #F46C09;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 13px; }
  body .content_menu .container {
    z-index: 1; }
  body .content_menu .banner_menu::before {
    background: -webkit-linear-gradient(bottom, #036937, #449340); }
  body .content_menu .shadow_img {
    opacity: 0.2; }
  body .content_menu .car_title {
    display: flex;
    justify-content: center;
    align-items: center; }
    body .content_menu .car_title h5 {
      font-size: 2rem; }

@media (min-width: 1000px) {
  .banner_menu {
    border-radius: 0px 0px 0px 0px !important; }

  #content_text b {
    font-size: 28px; }
  #content_text .badge {
    font-size: 17px !important; }

  .banner_menu #logo {
    width: 400px !important; }

  .banner_menu::after {
    border-radius: 0px 0px 0px 0px !important; } }

/*# sourceMappingURL=con_style.css.map */
