html{
    scroll-behavior: smooth;
}

body{
  
    background-color: #191919;

    

    .content_menu{

        .btn-floating{
            background-color: #f46c0b;
            border-radius: 32px;
            padding: 16px 19px;
            z-index: 2;
            position: fixed;
            top: 88%;
            color: #000;
            right: 14px;
            text-decoration: none;
            opacity: 0.5;
            i{
                font-size: 23px;
                text-align: center;
                position: relative;
                top: 2px;
                color: #fff;
            }
        }

        .menu_bar{
            text-align: center;
            .text_list{
                display: grid !important;
                margin-top: 20px;
                i{
                    color: #a395af;
                 }
                a{
                 color: #ffffff;
                 line-height: 35px;
                 text-decoration: none;
                 font-size: 15px;
                 font-weight: 200;
                }
               }

               .bg-full-dark{
                background-color: #131212;
               }
               

        }

      

        .navbar{
            z-index: 1;
           position: absolute;
        }

        .navbar-toggler{
            border-color: rgba(255, 255, 255, 0.616);
        }

       
        // Style list menu section 
        .content_list{
            padding: 15px;

            // style hr divider in the list section // 
            hr{
                margin: 1rem 0;
                color: inherit;
                background-color: #49474d;
                // border: 0;
                opacity: 10;
                margin-top: 30px;
            }

           
            .rounded{
                border-radius: .7rem!important;
                height: 150px;
            }


               // style item list // 
               .list-group-item {
                position: relative;
                display: block;
                padding: .9rem 0.4rem;
                color: #ffffff;
                text-decoration: none;
                background-color: #1a1a1a;
                font-weight: 200;
                border: 0px solid rgba(0,0,0,.125);


                .badge{
                    display: inline-block;
                    padding: 1.5rem 1rem;
                    font-size: .99em;
                    font-weight: 700;
                    line-height: 1;
                    color: #F4BE09;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: .25rem;
                }

                .title_list{
                    
                    display: flex;
                    align-items: center;

                    .content_icon{
                        text-align: center;
                        padding: 13px 19px;
                        border-radius: 30px;
                        margin-right: 12px;
                        background-color: #080808;

                        i{
                             color: #a395af;
                          }
                    }

                    b{
                        font-size: 13px;
                        position: relative;
                        bottom: 4px;
                    }
                }
            }


            // Style card title // 
            .card_title::after{
                content: ""; // ::before and ::after both require content
                position: absolute;
                top: -1px;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(120deg,   #000000, #6d2a06);
                border-radius: 3px !important;
                opacity: .8;
            }
            

            .card_title{
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: center;
                h5{
                    z-index: 1;
                    font-size: 21px;
                    font-weight: 700;
                }
                
                img{
                    height: 99%;
                }
            }          
           
        }



        //cover color in the after img banner// 
        .banner_menu::after {
            content: ""; // ::before and ::after both require content
            position: absolute;
            // top: 0;
            border-radius: 0px 0px 70px 70px;
            height: 820px !important;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg,   #000000, #4c2109);
            opacity: .7;
        }
   
        

     // jumbotron Style header //
    .banner_menu{
        background-image: url("../img/2restaurant.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-position-x: center;
        height: 820px;
        color:#fff;
        padding: 30px;
        text-align: center;
        border-radius: 0px 0px 70px 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;


        #logo{
            width: 256px;
        }

        #content_text{
            display: grid;
            position: relative;
            top: 40px;
            i{
                font-size: 46px;
                position: relative;
            }

            .icon-down{
                bottom: 24px;
            }

            .icon-up{
                opacity: 0.4;
            }
            
            .badge{
                display: inline-block;
                padding: .35em .90em;
                font-size: .66em;
                font-weight: 300;
                line-height: 1;
                background-color: #F46C09;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 13px;

            }
        }
    }


    .container{
        z-index: 1;
    }

    .banner_menu::before{
        background: -webkit-linear-gradient(bottom, #036937, #449340);
    }



    .shadow_img{
        opacity: 0.2;
    }
  

    .car_title{
        display: flex;
        justify-content: center;
        align-items: center;
        h5{
            font-size: 2rem;
        }
    }


    }

}




@media (min-width: 1000px) {
    .banner_menu{
        border-radius: 0px 0px 0px 0px !important;
    }

    #content_text{
        b{
            font-size: 28px;
        }

        .badge{
            font-size: 17px !important;
        }
        
    }
    .banner_menu{
        #logo{
            width: 400px !important;
        }
    }

    .banner_menu::after {
        border-radius: 0px 0px 0px 0px !important;
    }
    
  }
  